.main{
    text-align: center;
    /* border: 1px solid black; */
    height: auto;
    width: 40%;
    margin: auto;
    margin-top: 4%;
 box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 
}
.btns{
    display: flex;
    float: right;
    position: relative;
    bottom: 35px;
    right: 40px;
}